#question {
  font-weight: bold;
  color: indigo;
  margin-bottom: 30px;
}

.choice-container {
  display: flex;
  margin-bottom: 0.5rem;
  width: 100%;
  font-size: 1.8rem; /*
  border: 0.1rem solid rgb(86, 165, 235, 0.25); */
  border: 0.1rem solid indigo;
  box-shadow: 0 0.1rem 1.4rem 0 indigo;
  color: white;
  background-color: indigo;
}

.choice-prefix {
  padding: 1.5rem 2.5rem;
  background-color: yellowgreen;
  color: indigo;
  box-shadow: 0 0.1rem 1.4rem 0 white;
  border: 0.1rem solid white;
}

.choice-text {
  padding: 1.5rem;
  width: 100%;
  color: white;
  box-shadow: 0 0.1rem 1.4rem 0 white;
  border: 0.1rem solid white;
}

.choice-text:hover {
  cursor: pointer;
  box-shadow: 0 0.4rem 1.4rem 0 rgba(86, 185, 235, 0.5);
  transform: translateY(-0.1rem);
  transition: transform 150ms;
}
.correct {
  background-color: #28a745;
}

.incorrect {
  background-color: #dc3545;
}

#result-container {
  color: indigo;
}
/* HUD */

#hud {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  padding-bottom: 30px;
}

.hud-prefix {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
  color: indigo;
  background: yellow;
}

.hud-main-text {
  text-align: center;
}

#vhsLink {
  font-size: 20px;
  font-weight: bold;
  text-decoration: underline;
  color: indigo;
  background: yellow;
}

/* LOADER */

#loader {
  border: 1.6rem solid white;
  border-radius: 50%;
  border-top: 1.6rem solid indigo;
  width: 12rem;
  height: 12rem;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
